{% extends 'post/index.html' %}

{% block contenido %}


{% if lista_anuncios %}
<h1>Anuncios creados</h1>

{% for anuncio in lista_anuncios %}
<ul>
    <li>  {{ anuncio.titulo }} - {{ anuncio.juego }} - {{ anuncio.fecha_de_publicacion }} </li>
    {% if user.is_authenticated %}
    <a href="{% url 'post:detalle-anuncio' anuncio.id %}">Ver más</a> 
    {% endif %}
    
    {% if user.is_staff %}
    <a href="{% url 'post:editar-anuncio' anuncio.id %}">Editar anuncio</a>
    <a href="{% url 'post:borrar-anuncio' anuncio.id %}">Eliminar anuncio</a>   
    {% endif %}
</ul>
    
{% endfor %}


{% else %}

<h1>No hay anuncios creados</h1>

{% endif %}



    <a href="{% url 'post:index' %}">Volver al Menu</a>
{% endblock contenido %}