<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidad Gamer</title>
</head>
<body>
    {% include 'home/nav-bar.html' %}


    {% block contenido %}
    <h1>ComunidadGamer</h1>
    <h3>Necesitas ayuda para superar un reto en tu videojuego favorito, o simplemente estas buscando a alguien con quien jugar?
        Sea lo que busques, lo encontraras aqui, en ComunidadGamer, el sitio que se encarga de formar los equipos perfectos!</h3>
    
    
    <a href="{% url 'post:index' %}">Ir a Anuncios</a>
    
    {% if user.is_staff %}
        <a href="{% url 'admin:index' %}">Administracion</a>
    {% endif %}
    
    {% endblock contenido %}

    {% include 'home/footer.html' %}
</body>
</html>

